@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
$--brand-font-primary: "Roboto", sans-serif;

$--brand-color-white: #ffffff;
$--brand-color-black: #000000;
$--brand-color-primary: #e21e26;
$--brand-color-primary-400: #eea4a6;
$--brand-color-blue-400: #c5dae7;
$--brand-color-blue-500: #4484ef;
$--brand-color-gray-100: #f7f8fc;
$--brand-color-gray-200: #e7e7e7;
$--brand-color-gray-500: #828282;
$--brand-color-gray-800: #3d3d3d;
$--brand-color-gray-900: #262626;

$--brand-color-opacity-100: rgba(47, 47, 47, 0.32);
$--brand-color-opacity-200: rgba(47, 47, 47, 0.8);
$--brand-color-opacity-300: rgba(0, 0, 0, 0.4);
$--brand-color-opacity-400: rgba(0, 0, 0, 0.1);

$--filter-gray-900: invert(67%);
$--filter-white: invert(1);
$--filter-gray: grayscale(1);
