$--brand-font-primary: "Montserrat", sans-serif;

$--brand-color-white: #ffffff;
$--brand-color-black: #000000;
$--brand-color-primary: #e21e26;
$--brand-color-gray-100: #f7f7f7;
$--brand-color-gray-200: #e7e7e7;
$--brand-color-gray-500: #828282;
$--brand-color-gray-800: #3d3d3d;
$--brand-color-gray-900: #262626;

$--brand-color-opacity-100: rgba(47, 47, 47, 0.32);
$--brand-color-opacity-200: rgba(47, 47, 47, 0.8);
$--brand-color-opacity-300: rgba(0, 0, 0, 0.4);

$--filter-gray-900: invert(67%);
$--filter-white: invert(1);
$--filter-gray: grayscale(1);
